<%= form_for @review do |f| %>

<% if @review.errors.any? %>
 
    <% @review.errors.full_messages.each do |message|%>
        <p><%= message %> </p>
    <%end%>
 
<% end %>

<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :restaurant %>
    <%= f.text_field :restaurant %>
</p>
<p>
    <%= f.label :body %>
    <%= f.text_area :body %>
</p>

<p>
    <%= f.label :cusisine %>
    <%= f.text_field :cusisine %>
</p>

<p>
    <%= f.label :price %>
    <%= f.number_field :price %>
</p>

<p>
    <%= f.label :score %>
    <%= f.number_field :score %>
</p>
<p>
    <%= f.label :ambiance %>
    <%= f.text_field :ambiance %>
</p>
<%= f.submit "Save review" %>

<% end %>